Repository cossacklabs/product-docs, pull requests merged in 2021-12, with the labels that each got.

#211 Hermes migration
  hermes/_index.md
  hermes/getting-started/_index.md
  hermes/getting-started/installing/_index.md
  hermes/getting-started/installing/building-example.md
  hermes/getting-started/installing/building-hermes.md
  hermes/getting-started/installing/hermes-from-repository.md
  hermes/getting-started/using-hermes.md
  hermes/hermes-in-depth/_index.md
  hermes/hermes-in-depth/architecture/_index.md
  hermes/hermes-in-depth/architecture/abstract-entities/_index.md
  hermes/hermes-in-depth/architecture/api-design/_index.md
  hermes/hermes-in-depth/architecture/architecture/architecture.md
  hermes/hermes-in-depth/architecture/hermes-core-client/_index.md
  hermes/hermes-in-depth/architecture/hermes-core-server/_index.md
  hermes/hermes-in-depth/architecture/hermes-core-transport/_index.md
  hermes/hermes-in-depth/architecture/low-leve-api/_index.md
  hermes/hermes-in-depth/architecture/understanding-hermes/_index.md
  hermes/hermes-in-depth/whitepapers.md
  hermes/what-is-hermes.md
Labels: hermes

#221 sunsetting Themis Server and removing its mentions
  themis/crypto-theory/cryptosystems/secure-cell.md
  themis/crypto-theory/cryptosystems/secure-message.md
  themis/crypto-theory/cryptosystems/secure-session.md
  themis/debugging/_index.md
  themis/debugging/cli-utilities.md
  themis/debugging/themis-server.md
  themis/debugging/thread-safety.md
  themis/languages/cpp/_index.md
  themis/languages/cpp/features.md
  themis/languages/go/_index.md
  themis/languages/go/examples.md
  themis/languages/go/features.md
  themis/languages/java/_index.md
  themis/languages/java/examples.md
  themis/languages/java/features.md
  themis/languages/kotlin/_index.md
  themis/languages/kotlin/examples.md
  themis/languages/kotlin/features.md
  themis/languages/nodejs/_index.md
  themis/languages/nodejs/features.md
  themis/languages/objc/_index.md
  themis/languages/objc/examples.md
  themis/languages/objc/features.md
  themis/languages/php/_index.md
  themis/languages/php/examples.md
  themis/languages/php/features.md
  themis/languages/python/_index.md
  themis/languages/python/examples.md
  themis/languages/python/features.md
  themis/languages/ruby/_index.md
  themis/languages/ruby/examples.md
  themis/languages/ruby/features.md
  themis/languages/rust/_index.md
  themis/languages/rust/features.md
  themis/languages/swift/_index.md
  themis/languages/swift/examples.md
  themis/languages/swift/features.md
  themis/languages/wasm/_index.md
  themis/languages/wasm/features.md
  themis/spec/secure-cell/examples.md
Labels: themis

#222 Describe UNIX signals handled by Acra
  acra/configuring-maintaining/general-configuration/acra-server.md
  acra/configuring-maintaining/general-configuration/acra-translator.md
Labels: documentation, acra

#224 T2415 repository in meta
  acra/_index.md
  hermes/_index.md
  themis/_index.md
Labels: ui
