Repository cossacklabs/product-docs, pull requests merged in 2021-11, with the labels that each got.

#166 Deprecate WholeCell mode
  acra/acra-in-depth/data-structures/storage-models.md
  acra/configuring-maintaining/general-configuration/acra-connector.md
  acra/configuring-maintaining/general-configuration/acra-server.md
  acra/configuring-maintaining/general-configuration/acra-translator.md
Labels: documentation, acra

#167 Note that OpenSSL 3.0 is not yet supported by Themis
  themis/installation/installation-from-sources.md
Labels: themis

#168 add_crypto_versioning_docs
  acra/acra-in-depth/data-structures/acrastruct.md
  acra/acra-in-depth/data-structures/versioning.md
Labels: documentation, acra

#169 Typos and poor grammar fixes
  acra/acra-in-depth/architecture/acraserver.md
  acra/acra-in-depth/architecture/acratranslator.md
  acra/acra-in-depth/architecture/anyproxy.md
  acra/acra-in-depth/architecture/key-storage.md
  acra/acra-in-depth/architecture/sdks.md
  acra/acra-in-depth/data-structures/_index.md
  acra/acra-in-depth/data-structures/storage-models.md
  acra/acra-in-depth/scaling-and-high-availability/_index.md
  acra/guides/_index.md
  acra/guides/advanced-integrations/client-side-integration-with-acra-connector.md
  acra/guides/advanced-integrations/digital-ocean-marketplace.md
  acra/guides/integrating-acra-server-into-infrastructure/_index.md
  acra/security-controls/zones/_index.md
  acra/what-is-acra.md
Labels: documentation, acra

#170 split "SDK"s into three pages, upd links
  acra/acra-in-depth/architecture/acraserver.md
  acra/acra-in-depth/architecture/acratranslator.md
  acra/acra-in-depth/architecture/anyproxy.md
  acra/acra-in-depth/architecture/key-storage.md
  acra/acra-in-depth/architecture/sdks.md
  acra/acra-in-depth/architecture/sdks/_index.md
  acra/acra-in-depth/architecture/sdks/acrareader.md
  acra/acra-in-depth/architecture/sdks/acratranslator-sdk.md
  acra/acra-in-depth/architecture/sdks/acrawriter.md
  acra/acra-in-depth/data-flow/_index.md
  acra/getting-started/availability/_index.md
  acra/security-controls/encryption/_index.md
  acra/security-controls/key-management/inventory.md
  acra/security-controls/key-management/operations/generation.md
  acra/security-controls/key-management/operations/rotation.md
  acra/security-controls/transport-security/client-side-encryption.md
Labels: documentation, acra

#171 split KMS, key stores, fix links
  acra/acra-in-depth/architecture/acraserver.md
  acra/acra-in-depth/architecture/acratranslator.md
  acra/acra-in-depth/architecture/key-storage-and-kms/_index.md
  acra/acra-in-depth/architecture/key-storage-and-kms/key-storage.md
  acra/acra-in-depth/architecture/key-storage-and-kms/kms.md
  acra/acra-in-depth/architecture/key-storage.md
  acra/acra-in-depth/authentication/_index.md
  acra/configuring-maintaining/key-storing/_index.md
  acra/configuring-maintaining/key-storing/kms-integration.md
  acra/configuring-maintaining/key-storing/kms.md
  acra/configuring-maintaining/key-storing/kv-stores.md
  acra/security-controls/key-management/operations/generation.md
Labels: documentation, acra

#172 fix tons of invalid links
  acra/acra-in-depth/architecture/_index.md
  acra/acra-in-depth/data-flow/_index.md
  acra/acra-in-depth/data-structures/versioning.md
  acra/configuring-maintaining/general-configuration/acra-keymaker.md
  acra/configuring-maintaining/general-configuration/acra-keys/generate.md
  acra/configuring-maintaining/key-storing/kms-integration.md
  acra/configuring-maintaining/logging/_index.md
  acra/configuring-maintaining/logging/error_codes.md
  acra/configuring-maintaining/logging/formats.md
  acra/getting-started/installing/installing-acra-from-sources.md
  acra/getting-started/installing/launching-acra-from-docker-images.md
  acra/getting-started/requirements/_index.md
  acra/getting-started/trying/_index.md
  acra/guides/advanced-integrations/client-side-integration-with-acra-connector.md
  acra/guides/djangoproject-step-by-step.md
  acra/guides/integrating-acra-translator-into-new-infrastructure/_index.md
  acra/guides/integrating-acra-translator-into-new-infrastructure/grpc_api.md
  acra/security-controls/key-management/_index.md
  acra/security-controls/tokenization/_index.md
Labels: documentation, acra

#173 data structures updates
  acra/acra-in-depth/data-structures/_index.md
  acra/acra-in-depth/data-structures/acrablock.md
  acra/acra-in-depth/data-structures/acrastruct.md
  acra/acra-in-depth/data-structures/interoperability.md
  acra/acra-in-depth/data-structures/storage-models.md
  acra/acra-in-depth/data-structures/versioning.md
Labels: documentation, acra

#174 configuring & maintaining updates
  acra/configuring-maintaining/_index.md
  acra/configuring-maintaining/controls-configuration-on-acraserver/_index.md
  acra/configuring-maintaining/controls-configuration-on-acratranslator/_index.md
  acra/configuring-maintaining/general-configuration/_index.md
  acra/configuring-maintaining/general-configuration/acra-addzone.md
  acra/configuring-maintaining/general-configuration/necessary-preparations.md
  acra/configuring-maintaining/key-storing/kms-integration.md
  acra/configuring-maintaining/logging/error-codes.md
  acra/configuring-maintaining/logging/formats.md
  acra/configuring-maintaining/metrics/_index.md
  acra/configuring-maintaining/optimizations/horizontal_scaling.md
  acra/configuring-maintaining/optimizations/lru_cache.md
  acra/configuring-maintaining/optimizations/obtaining_metrics.md
  acra/configuring-maintaining/policies-enterprise/_index.md
  acra/configuring-maintaining/storage-and-data-model-implications/_index.md
  acra/configuring-maintaining/tls/_index.md
  acra/configuring-maintaining/tls/crl.md
  acra/configuring-maintaining/tls/generate-certificate-with-openssl.md
  acra/configuring-maintaining/tls/ocsp.md
  acra/configuring-maintaining/tracing/_index.md
  acra/getting-started/_index.md
  acra/guides/advanced-integrations/_index.md
  acra/security-controls/key-management/operations/generation.md
Labels: documentation, acra

#175 fix broken link to C&M
  acra/configuring-maintaining/_index.md
Labels: documentation, acra

#177 Translator bulk processing gRPC API
  acra/configuring-maintaining/tracing/_index.md
  acra/guides/integrating-acra-translator-into-new-infrastructure/grpc_api.md
  acra/guides/integrating-acra-translator-into-new-infrastructure/http_api.md
  acra/security-controls/searchable-encryption/_index.md
  acra/security-controls/tokenization/_index.md
Labels: documentation, acra

#179 refactor Guides structure
  acra/acra-in-depth/security-design/acra-and-pki.md
  acra/getting-started/_index.md
  acra/getting-started/trying/_index.md
  acra/guides/_index.md
  acra/guides/acra-on-digital-ocean.md
  acra/guides/advanced-integrations/_index.md
  acra/guides/advanced-integrations/client-side-integration-with-acra-connector.md
  acra/guides/advanced-integrations/django-acra-tutorials/_index.md
  acra/guides/advanced-integrations/django-acra-tutorials/django-acra-short-tutorial.md
  acra/guides/advanced-integrations/django-acra-tutorials/django-acra-step-by-step-tutorial.md
  acra/guides/advanced-integrations/ruby-on-rails-acra-tutorials/_index.md
  acra/guides/advanced-integrations/ruby-on-rails-acra-tutorials/ruby-on-rails-acra-short-tutorial.md
  acra/guides/advanced-integrations/ruby-on-rails-acra-tutorials/ruby-on-rails-acra-step-by-step-tutorial.md
  acra/guides/integrating-acra-server-into-infrastructure/_index.md
  acra/guides/integrating-acra-translator-into-new-infrastructure/_index.md
Labels: documentation, acra

#180 restructure general configuration utilities
  acra/configuring-maintaining/general-configuration/acra-authmanager.md
  acra/configuring-maintaining/general-configuration/acra-backup.md
  acra/configuring-maintaining/general-configuration/acra-connector.md
  acra/configuring-maintaining/general-configuration/acra-keymaker.md
  acra/configuring-maintaining/general-configuration/acra-keys/_index.md
  acra/configuring-maintaining/general-configuration/acra-keys/destroy.md
  acra/configuring-maintaining/general-configuration/acra-keys/export.md
  acra/configuring-maintaining/general-configuration/acra-keys/extract-client-id.md
  acra/configuring-maintaining/general-configuration/acra-keys/generate.md
  acra/configuring-maintaining/general-configuration/acra-keys/import.md
  acra/configuring-maintaining/general-configuration/acra-keys/list.md
  acra/configuring-maintaining/general-configuration/acra-keys/migrate.md
  acra/configuring-maintaining/general-configuration/acra-keys/read.md
  acra/configuring-maintaining/general-configuration/acra-log-verifier.md
  acra/configuring-maintaining/general-configuration/acra-poisonrecordmaker.md
  acra/configuring-maintaining/general-configuration/acra-rollback.md
  acra/configuring-maintaining/general-configuration/acra-rotate.md
  acra/configuring-maintaining/general-configuration/acra-server.md
  acra/configuring-maintaining/general-configuration/acra-tokens/_index.md
  acra/configuring-maintaining/general-configuration/acra-tokens/disable.md
  acra/configuring-maintaining/general-configuration/acra-tokens/enable.md
  acra/configuring-maintaining/general-configuration/acra-tokens/remove.md
  acra/configuring-maintaining/general-configuration/acra-tokens/status.md
  acra/configuring-maintaining/general-configuration/acra-translator.md
  acra/configuring-maintaining/general-configuration/acra-webconfig.md
Labels: documentation, acra

#181 Add example of acra-keymaker & acra-keys interaction with Redis
  acra/configuring-maintaining/key-storing/kv-stores.md
Labels: documentation, acra

#183 tiny-tiny naming fixes
  acra/acra-in-depth/architecture/sdks/acratranslator-sdk.md
  acra/guides/integrating-acra-server-into-infrastructure/_index.md
  acra/guides/integrating-acra-translator-into-new-infrastructure/_index.md
  acra/guides/integrating-acra-translator-into-new-infrastructure/http_api.md
Labels: documentation, acra

#184 fix some themis broken links
  themis/architecture/crypto-engines.md
  themis/crypto-theory/cryptosystems/secure-cell.md
  themis/crypto-theory/cryptosystems/secure-comparator.md
  themis/crypto-theory/cryptosystems/secure-message.md
  themis/crypto-theory/cryptosystems/secure-session.md
  themis/regulations/_index.md
Labels: documentation, themis

#185 Fixes of typos and poor grammar
  acra/getting-started/_index.md
  acra/guides/_index.md
  acra/guides/advanced-integrations/_index.md
  acra/guides/advanced-integrations/client-side-integration-with-acra-connector.md
  acra/guides/advanced-integrations/django-acra-tutorials/django-acra-short-tutorial.md
  acra/guides/advanced-integrations/django-acra-tutorials/django-acra-step-by-step-tutorial.md
  acra/guides/advanced-integrations/ruby-on-rails-acra-tutorials/ruby-on-rails-acra-short-tutorial.md
  acra/guides/advanced-integrations/ruby-on-rails-acra-tutorials/ruby-on-rails-acra-step-by-step-tutorial.md
  acra/guides/integrating-acra-translator-into-new-infrastructure/_index.md
  acra/guides/integrating-acra-translator-into-new-infrastructure/grpc_api.md
  acra/guides/integrating-acra-translator-into-new-infrastructure/http_api.md
  themis/spec/secure-cell/modes.md
Labels: documentation, acra

#186 polish getting started
  acra/getting-started/_index.md
  acra/getting-started/installing/_index.md
  acra/getting-started/installing/building-acrawriter.md
  acra/getting-started/installing/installing-acra-from-repository.md
  acra/getting-started/installing/installing-acra-from-sources.md
  acra/getting-started/installing/launching-acra-from-docker-images.md
Labels: documentation, acra

#187 Update AcraServer integration guide
  acra/guides/integrating-acra-server-into-infrastructure/_index.md
  acra/guides/integrating-acra-server-into-infrastructure/acraserver_configuration.md
Labels: documentation, acra

#190 Minor updates
  acra/configuring-maintaining/general-configuration/necessary-preparations.md
  acra/guides/integrating-acra-server-into-infrastructure/_index.md
  acra/guides/integrating-acra-server-into-infrastructure/acraserver_configuration.md
Labels: documentation, acra

#189 Describe supported databases and clouds
  acra/getting-started/availability/_index.md
  acra/getting-started/requirements/_index.md
Labels: documentation, acra

#191 Debugging and troubleshooting: TLS and Redis related tips
  acra/configuring-maintaining/debugging-and-troubleshooting/_index.md
  acra/getting-started/installing/building-acrawriter.md
Labels: documentation, acra

#193 Next review iteration
  acra/configuring-maintaining/_index.md
  acra/configuring-maintaining/controls-configuration-on-acraserver/_index.md
  acra/configuring-maintaining/controls-configuration-on-acratranslator/_index.md
  acra/configuring-maintaining/general-configuration/_index.md
  acra/configuring-maintaining/general-configuration/acra-authmanager.md
  acra/configuring-maintaining/general-configuration/acra-connector.md
  acra/configuring-maintaining/general-configuration/acra-keymaker.md
  acra/configuring-maintaining/general-configuration/acra-keys/_index.md
  acra/configuring-maintaining/general-configuration/acra-keys/destroy.md
  acra/configuring-maintaining/general-configuration/acra-keys/extract-client-id.md
  acra/configuring-maintaining/general-configuration/acra-keys/generate.md
  acra/configuring-maintaining/general-configuration/acra-keys/import.md
  acra/configuring-maintaining/general-configuration/acra-keys/migrate.md
  acra/configuring-maintaining/general-configuration/acra-keys/read.md
  acra/configuring-maintaining/general-configuration/acra-rollback.md
  acra/configuring-maintaining/general-configuration/acra-server.md
  acra/configuring-maintaining/general-configuration/acra-tokens/_index.md
  acra/configuring-maintaining/general-configuration/acra-tokens/remove.md
  acra/configuring-maintaining/general-configuration/acra-translator.md
  acra/configuring-maintaining/general-configuration/acra-webconfig.md
  acra/configuring-maintaining/tls/_index.md
  acra/security-controls/intrusion-detection/_index.md
Labels: documentation, acra

#194 Align doc info with site info
  acra/acra-in-depth/cryptography-and-key-management/_index.md
  acra/configuring-maintaining/key-storing/kms-integration.md
  acra/enterprise-edition/_index.md
  acra/getting-started/requirements/_index.md
  acra/security-controls/encryption/_index.md
  acra/security-controls/sql-firewall/_index.md
Labels: documentation, acra

#196 Better usage examples for acra-keys and acra-poisonrecordmaker
  acra/configuring-maintaining/general-configuration/acra-keys/extract-client-id.md
  acra/configuring-maintaining/general-configuration/acra-poisonrecordmaker.md
Labels: documentation, acra

#197 Add note for acra-poisonrecordmaker
  acra/configuring-maintaining/general-configuration/acra-poisonrecordmaker.md
Labels: documentation, acra

#200 Describe tokenization for AT
  acra/guides/integrating-acra-translator-into-new-infrastructure/grpc_api.md
  acra/security-controls/tokenization/_index.md
  acra/security-controls/tokenization/code_examples.md
Labels: documentation, acra

#202 acra security controls fixes and typos
  acra/security-controls/_index.md
Labels: acra

#204 update broken links; update searchable titles
  acra/configuring-maintaining/key-storing/kms-integration.md
  themis/languages/cpp/examples.md
  themis/languages/cpp/features.md
  themis/languages/cpp/installation.md
  themis/languages/go/examples.md
  themis/languages/go/features.md
  themis/languages/go/installation.md
  themis/languages/java/examples.md
  themis/languages/java/features.md
  themis/languages/java/installation-android.md
  themis/languages/java/installation-desktop.md
  themis/languages/kotlin/examples.md
  themis/languages/kotlin/features.md
  themis/languages/nodejs/examples.md
  themis/languages/nodejs/features.md
  themis/languages/nodejs/installation.md
  themis/languages/objc/examples.md
  themis/languages/objc/features.md
  themis/languages/objc/installation.md
  themis/languages/php/examples.md
  themis/languages/php/features.md
  themis/languages/php/installation.md
  themis/languages/python/examples.md
  themis/languages/python/features.md
  themis/languages/python/installation.md
  themis/languages/ruby/examples.md
  themis/languages/ruby/features.md
  themis/languages/ruby/installation.md
  themis/languages/rust/examples.md
  themis/languages/rust/features.md
  themis/languages/rust/installation.md
  themis/languages/swift/examples.md
  themis/languages/swift/features.md
  themis/languages/wasm/examples.md
  themis/languages/wasm/features.md
  themis/languages/wasm/installation.md
Labels: documentation, acra, themis

#205 Next review iteration
  acra/configuring-maintaining/controls-configuration-on-acraserver/_index.md
  acra/configuring-maintaining/controls-configuration-on-acratranslator/_index.md
  acra/configuring-maintaining/general-configuration/_index.md
  acra/configuring-maintaining/general-configuration/acra-rollback.md
  acra/configuring-maintaining/key-storing/_index.md
  acra/configuring-maintaining/key-storing/kms-integration.md
  acra/configuring-maintaining/key-storing/kv-stores.md
  acra/configuring-maintaining/logging/_index.md
  acra/configuring-maintaining/metrics/_index.md
  acra/configuring-maintaining/optimizations/acrastructs_vs_acrablocks.md
  acra/configuring-maintaining/optimizations/connection_reuse.md
  acra/configuring-maintaining/optimizations/disable_debug_logs.md
  acra/configuring-maintaining/optimizations/lru_cache.md
  acra/configuring-maintaining/optimizations/obtaining_metrics.md
  acra/configuring-maintaining/optimizations/zones.md
  acra/configuring-maintaining/policies-enterprise/_index.md
  acra/configuring-maintaining/storage-and-data-model-implications/_index.md
  acra/configuring-maintaining/tls/_index.md
  acra/configuring-maintaining/tls/crl.md
  acra/configuring-maintaining/tls/generate-certificate-with-openssl.md
  acra/configuring-maintaining/tls/ocsp.md
  acra/enterprise-edition/_index.md
  acra/faq/_index.md
  acra/regulations/_index.md
  acra/security-controls/sql-firewall/_index.md
  themis/debugging/thread-safety.md
Labels: acra

#207 Next review iteration
  acra/acra-in-depth/architecture/_index.md
  acra/acra-in-depth/architecture/key-storage-and-kms/_index.md
  acra/acra-in-depth/architecture/key-storage-and-kms/key-storage.md
  acra/configuring-maintaining/optimizations/acrastructs_vs_acrablocks.md
  acra/security-controls/_index.md
  acra/security-controls/encryption/_index.md
  acra/security-controls/intrusion-detection/_index.md
  acra/security-controls/key-management/_index.md
  acra/security-controls/key-management/inventory.md
  acra/security-controls/key-management/operations/generation.md
  acra/security-controls/key-management/operations/rotation.md
  acra/security-controls/key-management/troubleshooting.md
  acra/security-controls/key-management/versions/_index.md
  acra/security-controls/masking/_index.md
  acra/security-controls/searchable-encryption/_index.md
  acra/security-controls/tokenization/_index.md
  acra/security-controls/tokenization/code_examples.md
  acra/security-controls/zones/_index.md
Labels: acra
